django==3.2.1
djangorestframework==3.14.0
easyocr==1.6.2
pytube==15.0.0
youtube-dl==2021.12.17
openai-whisper @ git+https://github.com/openai/whisper.git@248b6cb124225dd263bb9bd32d060b6517e067f8
joblib==1.2.0
pandas==2.0.1
pillow==9.5.0
mysqlclient==2.1.1
py-hanspell @ git+https://github.com/ssut/py-hanspell.git@fdc6ca50c19f1c85971437a072d89d4e5ce024b8
kiwipiepy==0.15.2
keybert==0.7.0
transformers==4.31.0