<!doctype html>
{% load static %}
<html>
    <head>
        <title>Django</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $.ajaxSetup({
              headers: { "X-CSRFToken": '{{csrf_token}}' }
            });
          </script>
    </head>
    <body>
        {% include 'header.html' %}

        {% block content %}

        {% endblock %}

        {% include 'footer.html' %}
    </body>
</html>